*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width: 812px) {
    #eightsec{
        width: 100%;
        height: auto;
        display: block;
    }
    #text-center{
        font-size: medium;
    }
    #eightsec .row{
        display: block;
    }
    .eightimag{
        width: 100%;
      
        display: block;
     }
     .nasimg{
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: block;
    }
  }